.navbar-brand .logo {
    height: 45px;
    margin-top: -13px;
}

#q-typ-budovy img {
    width: 90px;
}

.list-inline li {
    padding: 20px;
    min-width: 150px;
}

.section-content {
    min-height: 300px;
}

.selectable-group li {
    cursor: pointer;
}

.selectable-group li:hover {
    background: #ffffff;
}

.selectable-group li.active {
    border: thin dashed teal;
    background: #cdcdcd;
}

.next-btn {
    display: none;
}

.table-results thead tr th, .table-generated-results  thead tr th {
    text-align: center;
}
